<% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
    </div>
<% end %>

<div class="alert alert-info" role="alert">
    <h2 class="alert-heading">Produtos</h2>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Descrição</td>
            <td>Preço</td>
            <td>Quantidade</td>
            <td>Departamento</td>
            <td colspan=2></td>
        </tr>
    </thead>
    <tbody>
        <%= render @produtos %>
    </tbody>
</table>
<div class="alert alert-success" role="alert">
    <h2 class="alert-heading">Produtos mais baratos</h2>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Descrição</td>
            <td>Departamento</td>
            <td>Preço</td>
            <td>Quantidade</td>
            <td colspan="2"></td>
        </tr>
    </thead>
    <tbody>
        <%= render @produto_com_desconto %>
    </tbody>
</table>
<button type="button" class="btn btn-secondary"><%= link_to "Criar produto", new_produto_path %></button>